go 1.21.13

use (
    ./tutorial
    ./routines
    ./datatypes
    ./generics
    ./redis
    ./lissajous
    ./fileoper
    ./flag
    ./sonic
    ./tempconv
    ./structs
    ./popcount
    ./strings
    ./randoms
    ./functions
    ./times
    ./github
    ./sorts
    ./logs
    ./netcat
    ./clock
    ./clockall
)